{% extends 'base.html' %}

{% block body %}
<h3>Şifre Sıfırlama</h3>
Şifrenizi unuttuysanız, aşağıdaki kutuya e-posta adresinizi giriniz. Size şifre sıfırlamanız için e-posta göndereceğiz.


<form action="" method="post" class="form-group">
    {% csrf_token %}
    {{form.email.errors}}
    <input type="email" name="email" maxlength="254" required id="id_email" class="form-control"/>
    <input type="submit" value="Şifre Sıfırla" class="btn btn-success"/>


</form>
{% endblock body %}