{% extends 'base.html' %}
{% block body %}
    {% if validlink %}

    <h3>Şifre Sıfırlama</h3>

    <form action="" method="post" class="form-group">
    {% csrf_token %}
        <table class="table">
            <tr>
                <th><label for="id_new_password1">Yeni parola:</label></th>
                    <td><input type="password" name="new_password1" required id="id_new_password1" class="form-control"/><br />
                        <span class="helptext">
                            <ul>
                                <li>Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.</li>
                                <li>Parolanız en az 8 karakter içermek zorunda.</li>
                                <li>Parolanız genellikle kullanılan bir parola olamaz.</li>
                                <li>Parolanız tamamıyla sayısal olamaz.</li>
                            </ul>
                        </span>
                    </td>
            </tr>
            <tr>
            <th>
                <label for="id_new_password2">Yeni parola onayı:</label>
            </th>
            <td><input type="password" name="new_password2" required id="id_new_password2" class="form-control"/></td>
            </tr>
        </table>
        <input type="submit" value="Şifre Değiştir" class="btn btn-success"/>
    </form>
    {% else %}
    <p>Girdiğiniz link geçersiz. Şifre değiştirme isteğinde tekrardan bulunabilirsiniz.</p>
    {% endif %}
{% endblock body %}